@whi +:#E3EAED;
body {
  background-color: #EDC329;
  padding: 0px;
  margin: 0;
  color: #1A282C;
}
body p::selection,
body h1::selection,
body h2::selection,
body h3::selection,
body h4::selection,
body h5::selection,
body a::selection,
body div::selection,
body span::selection {
  color: white;
  background-color: #EDC329;
}
#menu-inner > nav {
  background-color: #EDC329;
}
#menu-inner #menu-nav button {
  margin-right: 30px;
}
.page-nav {
  margin: 20px 0;
}
.page-nav a,
.page-nav span {
  color: #F2F3F3;
  margin-right: 2px;
}
.page-nav .page-number,
.page-nav .extend {
  padding: 5px 20px;
  border-radius: 3px;
  font-style: italic;
  font-size: .8em;
  text-decoration: none;
  background-color: #EDC329;
}
.page-nav .page-number:hover,
.page-nav .extend:hover {
  color: #1A282C;
}
.page-nav .current {
  background-color: #8D8B81;
}
.page-nav .current:hover {
  color: #F2F3F3;
}
#content-inner {
  overflow: hidden;
}
#recent-posts > h1 {
  border-left: 15px double #EDC329;
  transition: .3s;
}
#recent-posts > h1:hover {
  border-left: 5px solid #EDC329;
}
#recent-posts .block-title {
  display: block;
}
#recent-posts .cat-journal .recent-post-cat > a {
  background-color: #EDC329;
  color: black;
}
#recent-posts .cat-gallery .recent-post-cat > a {
  background-color: #8F8FEA;
  color: white;
}
#recent-posts .recent-post-cat {
  position: absolute;
  left: 0;
  z-index: 2;
}
#recent-posts .recent-post-cat:after {
  content: '';
  display: block;
  transition: .5s;
  transform: rotate(1deg);
  box-shadow: 3px 8px 2px #a2aaaa;
  position: absolute;
  width: 90%;
  height: 50%;
  top: 25%;
  z-index: -1;
}
#recent-posts .recent-post-cat:hover a {
  text-decoration: none;
}
#recent-posts .recent-post-cat:hover:after {
  transform: rotate(3deg);
  background-color: #6e7878;
  box-shadow: 5px 9px 3px #a2aaaa;
}
#recent-posts .recent-post-cat a {
  color: #1A282C;
  padding: 5px 30px;
  font-size: .8em;
  font-style: italic;
}
#recent-posts .recent-post-item {
  padding: 5px 10px 15px 5px;
  margin-top: 5px;
  border: 1px solid #8D8B81;
  transition: 0.5s;
}
#recent-posts .recent-post-item:hover,
#recent-posts .recent-post-item:focus,
#recent-posts .recent-post-item:active {
  border: 1px solid #F2F3F3;
  border-top: 10px solid #EDC329;
}
#recent-posts .recent-post-item:hover .recent-post-placeholder > span,
#recent-posts .recent-post-item:focus .recent-post-placeholder > span,
#recent-posts .recent-post-item:active .recent-post-placeholder > span {
  color: #6e7878;
}
#recent-posts .recent-post-item:hover .recent-post-info > a,
#recent-posts .recent-post-item:focus .recent-post-info > a,
#recent-posts .recent-post-item:active .recent-post-info > a {
  text-decoration: underline;
}
#recent-posts .recent-post-item:hover .recent-post-info > a:before,
#recent-posts .recent-post-item:focus .recent-post-info > a:before,
#recent-posts .recent-post-item:active .recent-post-info > a:before {
  content: 'read >>';
  display: inline-block;
  font-size: 0.5em;
  transform: translateX(-10px);
}
#recent-posts .recent-post-item .recent-post-preview {
  padding-left: 5px;
}
#recent-posts .recent-post-item .recent-post-preview .recent-post-img {
  height: 250px;
  overflow: hidden;
}
#recent-posts .recent-post-item .recent-post-preview img {
  width: 100%;
}
#recent-posts .recent-post-item .recent-post-preview .recent-post-placeholder {
  margin-left: 15px;
  height: 200px;
  background: linear-gradient(180deg, #f3f3f2 5%, #ccd2d4 5%, #ccd2d4 10%, #f3f3f2 10%);
  background-size: 100% 5%;
  overflow: hidden;
}
#recent-posts .recent-post-item .recent-post-preview .recent-post-placeholder > span,
#recent-posts .recent-post-item .recent-post-preview .recent-post-placeholder > span a,
#recent-posts .recent-post-item .recent-post-preview .recent-post-placeholder span span {
  height: 100%;
  font-size: .3em;
  font-style: italic;
  color: #a2aaaa;
}
#recent-posts .recent-post-item .recent-post-preview .post-summary {
  font-size: 0.8em;
  font-style: italic;
}
#recent-posts .recent-post-item .recent-post-preview .post-summary span {
  font-size: 1.2em;
  font-weight: border;
  margin-top: 25px;
}
#recent-posts .recent-post-item .recent-post-preview .post-summary p {
  margin-top: 5px;
}
#recent-posts .recent-post-item .recent-post-preview .post-summary a {
  color: #BB8B15;
  padding: 2px 30px;
  border: 1px solid #BB8B15;
  transition: .3s;
}
#recent-posts .recent-post-item .recent-post-preview .post-summary a:hover {
  text-decoration: none;
  color: #F2F3F3;
  background-color: #EDC329;
  border: 1px solid #EDC329;
}
#recent-posts .recent-post-info {
  text-align: right;
}
#recent-posts .recent-post-info > a {
  font-size: 1.5em;
  color: #1A282C;
  font-style: italic;
}
#recent-posts .recent-post-info time {
  font-size: 0.65em;
  font-style: italic;
}
#recent-posts .recent-post-author {
  font-size: 0.8em;
  display: inline-block;
}
#post-list h2 {
  transition: .5s;
  border-left: 15px double #1A282C;
  border-left: 15px double #EDC329;
  transition: .3s;
}
#post-list h2:hover {
  border-left: 5px solid #EDC329;
}
#post-list > ul {
  clear: both;
  text-align: right;
  background-color: #F2F3F3;
  list-style: none;
  margin: 0;
  padding: 0;
}
#post-list > ul .post-list-item {
  padding: 5px 10px;
  transition: 0.1s ease-in;
}
#post-list > ul .post-list-item:nth-child(2n) {
  background-color: #e5e7e7;
}
#post-list > ul .post-list-item:nth-child(2n) a {
  color: #5e919f;
}
#post-list > ul .post-list-item:hover {
  background-color: #EDC329;
}
#post-list > ul .post-list-item:hover a:before {
  content: 'read >>';
  display: inline-block;
  font-size: 0.5em;
  transform: translateX(-10px);
}
#post-list > ul .post-list-item a {
  color: #537f8c;
  text-decoration: none;
  font-size: .8em;
  user-select: none;
}
#post-list > ul .post-list-item a:hover {
  color: #000000;
}
#post-list #post-list-more {
  background-color: #EDC329;
  padding: 10px ;
  transition: .5s;
  text-align: right;
  font-size: .8em;
}
#post-list #post-list-more a {
  color: #537f8c;
  text-decoration: none;
}
#post-list #post-list-more a:hover {
  color: #000000;
}
#post-list #post-list-more:hover {
  background-color: #e9bb14;
  padding-bottom: 20px;
}
#post-list #post-list-more:hover a {
  transform: scale(1.2);
}
#post-list #post-list-more:hover a:before {
  content: 'read >>';
  display: inline-block;
  font-size: 0.5em;
  transform: translateX(-10px);
}
#post-container {
  margin-top: 0px;
}
#post-container #post-head {
  height: 130px;
  border-top-right-radius: 5px;
  background-color: #EDC329;
}
#post-container .article-tags a {
  padding: 2px 15px;
  border-radius: 3px;
  color: #F2F3F3;
  font-size: .8em;
}
#post-container .article-title {
  color: #F2F3F3;
  padding: 10px 0px;
  border-bottom: 1px solid #F2F3F3;
}
#post-container #post {
  padding: 50px 10px;
  padding-bottom: 150px;
  background: linear-gradient(180deg, #f3f3f2 5%, #ccd2d4 5%, #ccd2d4 10%, #f3f3f2 10%);
  background-size: 100% 1%;
  line-height: 1.7em;
}
#post-container #post h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 20px 0;
}
#post-container #post blockquote {
  font-size: 1em;
  color: #3B4F50;
  vertical-align: baseline;
  font-style: italic;
  display: block;
  padding: 10px 30px;
  padding-top: 15px;
  background-color: #E0E0DE;
  border-left: 7px solid #1A282C;
}
#post-container #post img {
  width: 100%;
}
#bottom-outer {
  margin: 100px 0;
  text-align: center;
}
#bottom-outer #bottom-info {
  color: #8D8B81;
  font-size: .8em;
}
#bottom-outer #bottom-info a {
  color: #EDC329;
}
#bottom-outer #bottom-info a:hover {
  color: #BB8B15;
}
.link {
  color: #537f8c;
  text-decoration: none;
}
.link:hover {
  color: #000000;
}
.hL {
  border-left: 15px double #EDC329;
  transition: .3s;
}
.hL:hover {
  border-left: 5px solid #EDC329;
}
.read:before {
  content: 'read >>';
  display: inline-block;
  font-size: 0.5em;
  transform: translateX(-10px);
}
.holder {
  margin-top: 50px;
}
