@dark:#1A282C;
@dark-:#3B4F50;
@grey-light:#8D8B81;
@yel:#EDC329;
@bro:#BB8B15;
@light:#CAD8DF;
@whi:#F2F3F3;
@whi+:#E3EAED;
@quo:#E0E0DE;
@pur:#8F8FEA;
@gre:#99E0A2;
@blu:#83AEFF;




body {
  background-color: @yel;
  padding: 0px;
  margin: 0;
  color:@dark;
  p::selection,h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,a::selection,div::selection,span::selection{
  	color:white;
  	background-color: @yel;
  }
}


#menu-inner{
	& > nav{
		background-color: @yel;
	}
	#menu-nav{
		button{
			margin-right: 30px;
		}
	}
}

// --------------------------------------------

#showPic {
	padding: 0;
	.jumbotron{
		background-color: @yel;
	}
}

#topImg{
	ul{
		margin-top: 30px;
		li{
			height: 150px;
			width: 15px;
			background-color:@yel;
		}
	}
}

#picCar {
	.carousel-item{
		height: 500px;
		overflow: hidden;
	}
	.card{
		height: 300px;
		.card-body{
			margin-bottom: 30px;
			overflow: hidden;
			img{padding: 0}
		}
	}
	img{
		
	}
}

// --------------------------------------------

.page-nav{
	margin: 20px 0;
	a,span{
		color:@whi;
		margin-right:2px;
	}
	
	.page-number, .extend {
		padding: 5px 20px;
		border-radius: 3px;
		font-style: italic;
		font-size: .8em;
		text-decoration: none;
		background-color: @yel;
		&:hover{
			color: @dark;
		}
	}
	.current{
		background-color: @grey-light;
		&:hover{
			color: @whi;
		}
	}
}

#content-inner{
	overflow: hidden;
}

#recent-posts{
	
	& > h1{
		.hL;
	}
	.block-title{
		display: block;
	}
	.cat-journal .recent-post-cat > a{
		background-color: @yel;
		color:contrast(@gre, black, white);
	}
	.cat-gallery .recent-post-cat > a{
		background-color: @pur;
		color:contrast(@pur, black, white);
	}
	.recent-post-cat{
		position: absolute;
		left: 0;
		z-index: 2;
		
		&:after{
			content: '';
			display: block;
			transition: .5s;
			transform: rotate(1deg);
			box-shadow: 3px 8px 2px  darken(@whi,30%);
			position: absolute;
			width: 90%;
			height: 50%;
			top:25%;
			z-index: -1;
		}
		&:hover{
			a{
				text-decoration: none;
			}
			&:after{
			transform: rotate(3deg);
			background-color:darken(@whi,50%);
			box-shadow: 5px 9px 3px darken(@whi,30%);
			}
		}
		
		a{
			color:@dark;
			padding: 5px 30px;
			font-size: .8em;
			font-style: italic;
		}
	}

	.recent-post-item{
		padding: 5px 10px 15px 5px;
		margin-top: 5px;
		border: 1px solid @grey-light;
		transition: 0.5s;

		&:hover,&:focus,&:active{
			// background-color: @whi;
			border: 1px solid @whi;
			border-top: 10px solid @yel;
			.recent-post-placeholder > span{
				color:darken(@whi+, 50%);
			}
			.recent-post-info > a{
				.read;
				text-decoration: underline;
			}
		}
		.recent-post-preview{
			padding-left: 5px;
			.recent-post-img{
				height: 250px;
				overflow:hidden;
			}
			img{
				width: 100%;
			}
			.recent-post-placeholder{
				margin-left: 15px;
				height: 200px;
				background: linear-gradient(180deg, rgba(243,243,242,1) 5%, rgba(204,210,212,1) 5%, rgba(204,210,212,1) 10%, rgba(243,243,242,1) 10%);
				// -webkit-background-size: 1%;
				background-size: 100% 5%;
				overflow: hidden;
				& > span, & > span a, span span{
					height: 100%;
					font-size: .3em;
					font-style: italic;
					color:darken(@whi+, 30%);
				}
			}
			.post-summary{
				font-size: 0.8em;
				font-style: italic;

				 span{
					font-size: 1.2em;
					font-weight: border;
					margin-top: 25px;

				}
				p{
					margin-top: 5px;
				}
				a{
					color:@bro;
					padding: 2px 30px;
					border: 1px solid @bro;
					transition: .3s;

					&:hover{
						text-decoration: none;
						color:@whi;
						background-color: @yel;
						border: 1px solid @yel;

					}
				}
			}
			
		}
	}
	.recent-post-info{
		text-align: right;
		& > a{
			font-size: 1.5em;
			color:@dark;
			font-style: italic;
		}
		time{
			font-size: 0.65em;
			font-style: italic;
		}
	}
	
	.recent-post-author{
		font-size: 0.8em;
		display: inline-block;
	}
}
// recent-post -----------------------------------------------------------

#post-list{
	
	
	h2{
		transition: .5s;
		border-left: 15px double @dark;
		.hL
	}
	& > ul{
		clear: both;
		text-align: right;
		background-color: @whi;
		list-style: none;
		margin: 0;
		padding: 0;
		.post-list-item{
			padding: 5px 10px;
			transition: .1s ease-in;
			&:nth-child(2n){
				background-color: darken(@whi, 5%) ;
				a{
					color:lighten(@dark, 36%);
				}
			}
			&:hover{
				background-color: @yel ;
				a{
					.read;
				}
			}
			a{

			 	.link;
			 	font-size: .8em;
			 	user-select: none;
			}
		}
	}
	#post-list-more{
		background-color: @yel;
		padding: 10px ;
		transition: .5s;
		text-align: right;
		font-size: .8em;
		a{.link;}
		&:hover{
				background-color: darken(@yel, 5%) ;
				padding-bottom: 20px;
				a{
					transform: scale(1.2);
					.read;
				}
			}
	}
}

#post-container{
	margin-top: 0px;
	#post-head{
		padding-bottom: 30px;
		border-top-right-radius : 5px;
		background-color: @yel;

	}

	

	.article-tags{
		a{
			padding: 2px 15px;
			border-radius: 3px;
			color: @whi;
			font-size: .8em;
		} 	
		
	}
	.article-title{
			color: @whi;
			padding: 10px 0px;
			border-bottom: 1px solid @whi;
		}
	#post{
		
		
		padding: 50px 10px;
		padding-bottom: 150px;
		background: linear-gradient(180deg, rgba(243,243,242,1) 5%, rgba(204,210,212,1) 5%, rgba(204,210,212,1) 10%, rgba(243,243,242,1) 10%);
		// -webkit-background-size: 1%;
		background-size: 100% 1%;
		line-height: 1.7em;
		h1{
			font-size: 2.5em;
			text-transform: uppercase;
			margin:20px 0;
		}
		blockquote{
			font-size: 1em;
			color:@dark-;
			vertical-align: baseline;
			font-style: italic;
			display: block;
			padding: 10px 30px;
			padding-top: 15px;
			background-color: @quo;
			border-left: 7px solid @dark;
		}
		code{
			font-size: 1em;
			color:@dark-;
			vertical-align: baseline;
			display: block;
			padding: 10px 30px;
			padding-top: 15px;
			background-color: @quo;
		}
		img{
			width: 100%;
		}
	}
}



#bottom-outer{
	margin: 100px 0;
	text-align: center;

	#bottom-info{
		color:@grey-light;
		font-size: .8em;
		a{
			color: @yel;
			&:hover{
				color:@bro;
			}
		}
	}
}
//------------------------------------------------

#archive{
	color:@dark;
	aside{
		margin-top: 5px;
	}
	a{
		.link;
	}
	h2{
		transition: .5s;
		border-left: 15px double @dark;
		.hL
	}
}

#tag, #category{
	& > h1{
		.hL;
	}
	a{
		.link;
	}
}


//---------------------------------------------------------------------------------------------

.link{
	color:lighten(@dark, 30%);
	text-decoration: none;
	&:hover{
		color: darken(@dark, 100%);
	}
}

.hL{
	border-left: 15px double @yel;
	transition: .3s;
	&:hover{
		border-left: 5px solid @yel;
	}
}

.read{
	&:before{
		content: 'read >>';
		display: inline-block;
		font-size: 0.5em;
		
		transform: translateX(-10px);
	}
}

.holder{
	margin-top: 20px;
}
