@whi +:#E3EAED;
.link {
  color: #537f8c;
  text-decoration: none;
}
.link:hover {
  color: #000000;
}
body {
  padding: 0px;
  margin: 0;
  color: #1A282C;
}
#menu-inner #menu-nav button {
  margin-right: 30px;
}
#content-inner {
  overflow: hidden;
}
#recent-posts .block-title {
  display: block;
}
#recent-posts .recent-post-item {
  padding: 5px 10px 15px 5px;
  margin-top: 5px;
  border: 1px solid #9BAAB4;
  transition: 0.87s;
}
#recent-posts .recent-post-item:hover {
  border: 1px solid #F2F3F3;
}
#recent-posts .recent-post-item:hover .recent-post-placeholder > span {
  color: #6e7878;
}
#recent-posts .recent-post-item:hover .recent-post-info > a {
  text-decoration: underline;
}
#recent-posts .recent-post-item:hover .recent-post-info > a:before {
  content: 'read >>';
  display: inline-block;
  font-size: 0.5em;
  transform: translateX(-10px);
}
#recent-posts .recent-post-item .recent-post-preview {
  padding-left: 5px;
}
#recent-posts .recent-post-item .recent-post-preview img {
  width: 100%;
}
#recent-posts .recent-post-item .recent-post-preview .recent-post-placeholder {
  margin-left: 15px;
  height: 200px;
  background: linear-gradient(180deg, #f3f3f2 5%, #ccd2d4 5%, #ccd2d4 10%, #f3f3f2 10%);
  background-size: 100% 5%;
  overflow: hidden;
}
#recent-posts .recent-post-item .recent-post-preview .recent-post-placeholder > span,
#recent-posts .recent-post-item .recent-post-preview .recent-post-placeholder > span a,
#recent-posts .recent-post-item .recent-post-preview .recent-post-placeholder span span {
  height: 100%;
  font-size: .3em;
  font-style: italic;
  color: #a2aaaa;
}
#recent-posts .recent-post-item .recent-post-preview .post-summary {
  font-size: 0.8em;
}
#recent-posts .recent-post-item .recent-post-preview .post-summary span {
  font-size: 1.5em;
  font-weight: border;
}
#recent-posts .recent-post-info {
  text-align: right;
}
#recent-posts .recent-post-info > a {
  font-size: 1.5em;
  color: #1A282C;
  font-style: italic;
}
#recent-posts .recent-post-info time {
  font-size: 0.65em;
  font-style: italic;
}
#recent-posts .recent-post-author {
  font-size: 0.8em;
  display: inline-block;
}
#post-list {
  transform: translateX(85%);
  transition: 1.2s ease-out;
}
#post-list > span {
  position: absolute;
  left: -50px;
}
#post-list:hover,
#post-list:active {
  transform: translateX(0%);
  transition: 0.2s ease-in;
}
#post-list:hover h2,
#post-list:active h2 {
  border-color: #9BAAB4;
}
#post-list h2 {
  transition: .5s;
  border-left: 15px double #1A282C;
}
#post-list > ul {
  clear: both;
  text-align: right;
  background-color: #F2F3F3;
  list-style: none;
  margin: 0;
  padding: 0;
}
#post-list > ul .post-list-item {
  padding: 5px 10px;
}
#post-list > ul .post-list-item:nth-child(2n) {
  background-color: #e5e7e7;
}
#post-list > ul .post-list-item:nth-child(2n) a {
  color: #5e919f;
}
#post-list > ul .post-list-item a {
  color: #537f8c;
  text-decoration: none;
  font-size: .8em;
  user-select: none;
}
#post-list > ul .post-list-item a:hover {
  color: #000000;
}
#post {
  margin-top: 50px;
  padding: 10px 30px;
  background: linear-gradient(180deg, #f3f3f2 5%, #ccd2d4 5%, #ccd2d4 10%, #f3f3f2 10%);
  background-size: 100% 2%;
  line-height: 1.7em;
}
#post h1 {
  font-size: 3.2em;
  text-transform: uppercase;
}
#post blockquote {
  font-size: 1em;
  color: #3B4F50;
  vertical-align: baseline;
  font-style: italic;
  display: block;
  padding: 10px 30px;
  padding-top: 15px;
  background-color: #E0E0DE;
  border-left: 7px solid #1A282C;
}
#post .article-title {
  padding: 10px 0px;
  border-bottom: 1px solid #9BAAB4;
}
#post img {
  width: 100%;
}
#bottom-outer {
  text-align: center;
}
