@dark:#1A282C;
@dark-:#3B4F50;
@grey-light:#9BAAB4;
@light:#CAD8DF;
@whi:#F2F3F3;
@whi+:#E3EAED;
@quo:#E0E0DE;


.link{
	color:lighten(@dark, 30%);
	text-decoration: none;
	&:hover{
		color: darken(@dark, 100%);
	}
}


body {
  padding: 0px;
  margin: 0;
  color:@dark;
}

#menu-inner{
	#menu-nav{
		button{
			margin-right: 30px;
		}
	}
}

#content-inner{
	overflow: hidden;
}

#recent-posts{
	.block-title{
		display: block;
	}
	.recent-post-item{
		padding: 5px 10px 15px 5px;
		margin-top: 5px;
		border: 1px solid @grey-light;
		transition: 0.87s;
		&:hover{
			// background-color: @whi;
			border: 1px solid @whi;
			.recent-post-placeholder > span{
				color:darken(@whi+, 50%);
			}
			.recent-post-info > a{
				&:before{
					content: 'read >>';
					display: inline-block;
					font-size: 0.5em;
					
					transform: translateX(-10px);
				}
				text-decoration: underline;
			}
		}
		.recent-post-preview{
			padding-left: 5px;
			img{
				width: 100%;
			}
			.recent-post-placeholder{
				margin-left: 15px;
				height: 200px;
				background: linear-gradient(180deg, rgba(243,243,242,1) 5%, rgba(204,210,212,1) 5%, rgba(204,210,212,1) 10%, rgba(243,243,242,1) 10%);
				// -webkit-background-size: 1%;
				background-size: 100% 5%;
				overflow: hidden;
				& > span, & > span a, span span{
					height: 100%;
					font-size: .3em;
					font-style: italic;
					color:darken(@whi+, 30%);
				}
			}
			.post-summary{
				font-size: 0.8em;
				 span{
					font-size: 1.5em;
					font-weight: border;
				}
			}
			
		}
	}
	.recent-post-info{
		text-align: right;
		& > a{
			font-size: 1.5em;
			color:@dark;
			font-style: italic;
		}
		time{
			font-size: 0.65em;
			font-style: italic;
		}
	}
	
	.recent-post-author{
		font-size: 0.8em;
		display: inline-block;
	}
}
// recent-post -----------------------------------------------------------

#post-list{
	
	transform:translateX(90%); 
	transition: 1.2s ease-out;
	&:hover,&:active{
		transform:translateX(0%); 
		transition: .20s ease-in;
		h2{
			border-color:@grey-light;
		}
	}
	
	
	h2{
		transition: .5s;
		border-left: 15px double @dark;
	}
	& > ul{
		clear: both;
		text-align: right;
		background-color: @whi;
		list-style: none;
		margin: 0;
		padding: 0;
		.post-list-item{
			&:nth-child(2n){
				background-color: darken(@whi, 5%) ;
				a{
					color:lighten(@dark, 36%);
				}
			}
			
			padding: 5px 10px;
			a{
			 	.link;
			 	font-size: .8em;
			 	user-select: none;
			}
		}
		
	}
}

#post-container{

}
#post{
	margin-top: 50px;
	padding: 10px 30px;
	background: linear-gradient(180deg, rgba(243,243,242,1) 5%, rgba(204,210,212,1) 5%, rgba(204,210,212,1) 10%, rgba(243,243,242,1) 10%);
	// -webkit-background-size: 1%;
	background-size: 100% 2%;
	line-height: 1.7em;
	h1{
		font-size: 3.2em;
		text-transform: uppercase;
	}
	blockquote{
		font-size: 1em;
		color:@dark-;
		vertical-align: baseline;
		font-style: italic;
		display: block;
		padding: 10px 30px;
		padding-top: 15px;
		background-color: @quo;
		border-left: 7px solid @dark;
	}
	.article-title{
		
		padding: 10px 0px;
		border-bottom: 1px solid @grey-light;
	}
	img{
		width: 100%;
	}
}

#bottom-outer{
	text-align: center;
}
