
@dark:#1A282C;
@dark-:#3B4F50;

// @bgc:rgb(40, 43, 46);
@bgc:rgb(227, 225, 225);
@grey-light:#8D8B81;
// @main_color:#EDC329;
@main_color:rgb(237, 96, 36);
@sub_color:rgb(208, 208, 208);

@light:#CAD8DF;
// @font:#F2F3F3;
@font:rgb(79, 82, 82);
@em:#83AEFF;
@code:rgb(70, 77, 89);
@quo:#E0E0DE;

@cat1:#8F8FEA;
@cat2:#99E0A2;
@cat3:#83AEFF;
@cat4:rgb(245, 131, 255);


body {
  background-color: @main_color;
  padding: 0px;
  margin: 0;
  color:@font;
  background-color: @bgc;
  p::selection,h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,a::selection,div::selection,span::selection{
  	color:white;
  	background-color: @main_color;
	}
	overflow-x: hidden;
}


#menu-inner{
	background-color:@bgc;
	
	& > nav{
		li a{
			color:@font;
			padding:20px 20px;
			&:hover{
				color:@light;
			}
		}
		// background-color: @main_color;
		.navbar-brand{
			color:@main_color;
			padding: 0 10px;
			border-left:15px double @main_color;
			transition: .5s;
			&:hover{
				border-left: 5px solid darken(@main_color, 30%);
				color:darken(@main_color, 30%);
			}
		}
	}
	#menu-nav{
		
		button{
			margin-right: 50px;
		}
	}
}

// --------------------------------------------

#showPic {
	padding: 0;
	.jumbotron{
		background-color: @main_color;
	}
}

#topImg{
	// background-image: linear-gradient(to bottom, #edc329, #ebbf28, #eabb26, #e8b825, #e6b424);
	position: fixed;
	top: 100px;
	margin-bottom: -100px;
	ul{
		list-style: none;
		margin: 20px 0;
		
		.layer{
			height: 250px;
			width: 30px;
			background-color:darken(@bgc,5%);
			
		}
		
	}
}
.mainImg{
	margin-bottom: 13vh;
}
.mainDesc{
		background-color: @main_color;
		position: absolute;
		bottom:50%;
		right: -10%;
		font-size: 1.7em;
}

#picCar {
	.carousel-item{
		height: 500px;
		overflow: hidden;
	}
	.card{
		height: 300px;
		.card-body{
			margin-bottom: 30px;
			overflow: hidden;
			img{padding: 0}
		}
	}
	
}


// --------------------------------------------

.page-nav{
	margin: 20px 0;
	a,span{
		color:@font;
		margin-right:2px;
	}
	
	.page-number, .extend {
		padding: 5px 20px;
		border-radius: 3px;
		font-style: italic;
		font-size: .8em;
		text-decoration: none;
		background-color: @main_color;
		&:hover{
			color: @dark;
		}
	}
	.current{
		background-color: @grey-light;
		&:hover{
			color: @font;
		}
	}
}

#content-inner{
	overflow: hidden;
	background-color:@bgc;
}

#recent-posts{
	
	& > h1{
		.hL;
	}
	.block-title{
		display: block;
		color:@font;
	}
	.cat-journal .recent-post-cat > a{
		background-color: @main_color;
		color:contrast(@main_color);
	}
	.cat-Reflection .recent-post-cat > a{
		background-color: @cat1;
		color:contrast(@cat1);
	}
	.cat-gallery .recent-post-cat > a{
		background-color: @cat2;
		color:contrast(@cat2);
	}
	.cat-workshop .recent-post-cat > a{
		background-color: @cat3;
		color:contrast(@cat3);
	}

	.cat-research .recent-post-cat > a{
		background-color: @cat4;
		color:contrast(@cat4, black, white);
	}

	.post-research{
		
	}

	.recent-post-cat{
		position: absolute;
		left: 0;
		// top: 10px;
		z-index: 1;
		a{
			color:@font;
			padding: 5px 30px;
			font-size: .8em;
			font-style: italic;
		}
		&:after{
			content: '';
			display: block;
			transition: .5s;
			transform: rotate(1deg);
			box-shadow: 3px 8px 2px  darken(@bgc,30%);
			position: absolute;
			width: 90%;
			height: 50%;
			top:25%;
			z-index: -1;
		}
		&:hover{
			a{
				text-decoration: none;
			}
			&:after{
			transform: rotate(3deg);
			background-color:darken(@font,50%);
			box-shadow: 5px 9px 3px darken(@bgc,30%);
			}
		}
		
		
	}

	.recent-post-item{
		padding: 5px 10px 15px 5px;
		margin-top: 10px;
		border: 1px solid @main_color;
		transition: 0.5s;
		
		color:@font;
		
		.recent-post-title{
			
			h1{
				font-size: 1.1em;
			}
			color:@main_color;
		}
		
		&:hover,&:focus,&:active{
			// background-color: darken(@bgc,10%);
			border: 1px solid @font;
			// border-top: 10px solid @main_color;
			
			.recent-post-title{
				// .read;
				text-decoration: underline;
			}
		}
		.recent-post-preview{
			padding-left: 5px;
			.recent-post-img{
				height: 250px;
				overflow:hidden;
			}
			img{
				width: 100%;
			}
			
			.post-summary{
				font-size: 0.7em;
				font-style: italic;

				 span{
					font-size: 1.2em;
					font-weight: border;
					margin-top: 25px;

				}
				a{
					.post-a
				}
				p{
					margin-top: 5px;
				}
				
			}
			
		}
		.recent-post-placeholder{
			// margin-left: 15px;
			height: 200px;
			background: linear-gradient(180deg, rgba(243,243,242,1) 5%, rgba(204,210,212,1) 5%, rgba(204,210,212,1) 10%, rgba(243,243,242,1) 10%);
			// -webkit-background-size: 1%;
			background-size: 100% 5%;
			overflow-x: hidden;
			& > span, & > span a, span span{
				height: 100%;
				font-size: .3em;
				font-style: italic;
				color:lighten(@font, 50%);
				&:hover{
					color:lighten(@font, 30%);
				}
			}
		}
	}

	.post-gallery{
		img{
			margin: 0;
			cursor: pointer;
			border: none;
		}
		.gallery-img-box{
			overflow: hidden;
			a{
				.post-a;
			}
		}
		&>a{
			
			color:@main_color;
			font-size: 0.7em;
			font-style: italic;
			&:hover{
				color: contrast(@main_color)
			}
		}
	}

	.recent-post-info{
		text-align: right;
		& > a{
			font-size: 1.5em;
			color:@dark;
			font-style: italic;
		}
		time{
			font-size: 0.65em;
			font-style: italic;
		}
	}
	
	.recent-post-author{
		font-size: 0.8em;
		display: inline-block;
	}
}

.gallery-img-show{
	background-color: rgba(165, 165, 164, 0.7);
	z-index: 99;
	position: fixed;
	top:0;
	height: 100vh;
	img{
		float: left;
		margin-top: 10px;
		max-height: 80vh;
		max-width: 80vw;
	}
}
.gallery-btn,.gallery-arrow{
	border: @font 4px solid;
	text-align: center;
	color: @font;
	padding:0 20px;
	&:hover{
		cursor: pointer;
		background-color: @font;
		color: contrast(@font)
	}
}

.post-research-tags{
	font-size: .7em;
	color: @bgc;
	text-align: center;
	&:hover{
		background-color:@main_color;
		color:contrast(@main_color);
	}
	
}


	
	.post-reflection-ul,.post-workshop-ul{
		li{
			// margin-left: 5%;
			border: @main_color .5px solid;
			a{
				color:@main_color;
				padding: 2px 20px;
				&:hover{
					background-color: @main_color;
					color: contrast(@main_color);
				}
			}
		}
		
	}


// recent-post -----------------------------------------------------------
.space{
	visibility: hidden;
}
#post-list{
	
	
	h2{
		transition: .5s;
		color:@font;
		border-left: 15px double @font;
		.hL
	}
	& > ul{
		clear: both;
		text-align: right;
		
		list-style: none;
		margin: 0;
		padding: 0;
		.post-list-item{
			padding: 5px 10px;
			transition: .1s ease-in;
			&:nth-child(n){
				background-color:darken(@bgc, 2%) ;
				a{
					color:darken(@font,5%);
				}
			}
			&:nth-child(2n){
				background-color:darken(@bgc, 5%) ;
				a{
					color:lighten(@font, 0%);
				}
			}
			&:hover{
				background-color: @main_color ;
				a{
					.read;
				}
			}
			a{

			 	.link;
			 	font-size: .8em;
			 	user-select: none;
			}
		}
	}
	#post-list-more{
		background-color: @main_color;
		padding: 10px ;
		transition: .5s;
		text-align: right;
		font-size: .8em;
		a{.link;
		color: contrast(@main_color);
		}
		&:hover{
				background-color: darken(@main_color, 5%) ;
				padding-bottom: 20px;
				a{
					transform: scale(1.2);
					.read;
					
				}
			}
	}
}

#post-container{
	margin-top: 0px;
	#post-head{
		padding-bottom: 30px;
		border-top-right-radius : 5px;
		// background-color: @main_color;
	
	}
	.article-tags{
		a{
			padding: 2px 15px;
			border-radius: 3px;
			color: @font;
			font-size: .8em;
		} 	
		
	}
	.article-title{
			color: @main_color;
			
			// border-bottom: 1px solid @font;
		}
	#post{
		
		color: @font;
		padding: 50px 10px;
		padding-bottom: 150px;
		overflow-x:auto;
		// background:darken(@bgc,5%);
		
		// -webkit-background-size: 1%;
		line-height: 1.7em;
		h1,h2,h3,h4,h5,h6{
			margin-top: 30px;
			border-bottom: @font dotted 1px;
			
			padding: 10px 20px;
			// background:darken(@bgc,1%);
			
			margin: 70px auto;
		}
		div > h1{
			font-size: 2em;
			text-transform: uppercase;
			margin:0px 0;
			width: 100%;
			text-align: left;
			border: @font solid 1px;
		}
		p,ul,ol{
			margin-top: 30px;
		}
		strong{
			color:@main_color;
		}
		em{
			color:@em;
			font-style: italic;
		}
		blockquote{
			font-size: 1em;
			background:darken(@bgc,10%);
			color:@main_color;
			font-style: italic;
			display: block;
			padding: 10px 30px;
			padding-top: 15px;
			margin-top: 50px;
			border-left: 20px double @main_color;
		}
		code{
			font-size: 1em;
			background:@code;
			color:@em;

			display: block;
			padding: 10px 30px;
			padding-top: 15px;
			
		}
		img{
			
			width: 70%;
			margin: 20px auto;
			padding: 5px;
			border-radius: 5px;
			// border: @grey-light solid .5px;
		}

		table{
			margin: 50px 0;
		}
		tr{
			font-size: .9em;
			border: .5px solid @font;
			
			th,td{
				padding: 2px 10px;
				text-align: center;
			}
			td:hover{
				background-color:darken(@bgc,5%);
			}
		}
		tr:nth-child(even) {background-color:darken(@bgc,3%);}
		thead:first-child {
			tr{
				// border: @main_color 1px solid;
			}
			color: contrast(@main_color);
			background-color:@main_color;
		}
	}
}



#bottom-outer{
	background-color: @bgc;
	
	padding: 20vh 0;
	text-align: center;

	#bottom-info{
		color:@grey-light;
		font-size: .8em;
		a{
			color: @main_color;
			&:hover{
				color:@main_color;
			}
		}
	}
}
//------------------------------------------------

#archive{
	color:@font;
	.list-group-item{
		background-color: transparent;
		border: @main_color solid .5px;
	}
	aside{
		margin-top: 5px;
	}
	a{
		.link;
	}
	h2{
		transition: .5s;
		border-left: 15px double @dark;
		.hL
	}
}

#tag, #category{
	& > h1{
		.hL;
		color:@font;
	}
	a{
		.link;
	}
}

//about---------------------------------------------------------------------------------------------


#page-about{
	color:@grey-light;
	article{
		color: @font;
		// background-color:lighten(@bgc,10%);
		border: 1px solid @main_color;
		padding:0px 25px 25px 10px;
		clear: both;
		.fH;
		img{
			padding: 35px;
			float: left;
		}
		b{
			color:@main_color;
		}

	}
	h1,h2{
		.hL;
		color:@main_color;
	}
	#about-1{
		#about-name{

			text-align: right;
			font-size: 2em;
			font-weight: bold;
			padding: 0;
			#e-name{
				font-size: .5em;
				color:@grey-light;
			}
			span{
				color:@dark-;
				font-size: .8em;
			}
		}
	}
	#about-2,#about-3{
		padding:0px 25px 25px 30px;
	}
	p{
			text-align: center;
			font-size: .8em;
		}
}

//---------------------------------------------------------------------------------------------

.link{
	color:darken(@font, 20%);
	text-decoration: none;
	&:hover{
		color:darken(@font, 40%);
	}
}

.hL{
	
	border-left: 15px double @main_color;
	transition: .3s;
	&:hover{
		border-left: 5px solid @main_color;
	}
}

.read{
	&:before{
		content: 'read >>';
		display: inline-block;
		font-size: 0.5em;
		transform: translateX(-10px);
	}
}

.post-a{
	font-size: 0.8em;
	font-style: italic;
	color:contrast(@main_color);
	background-color:@main_color;
	padding: 2px 20px;
	border: 1px solid @main_color;
	transition: .3s;

	&:hover{
		text-decoration: none;
		color:contrast(@main_color);
		background-color: darken(@main_color,20%);
		

	}
}

.holder{
	margin-top: 20px;
	font-size: 0.1em;
}

.fH{
	&:after{
		content:".";
        display:block;
        height:0;
        clear:left;
        visibility:hidden;
	}
}
#disqus_thread{
	margin-top: 50px;
}
.textarea-wrapper--top-level,.textarea{
	background-color: @bgc;
}






